<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container-fluid">
		<a class="text-center navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" alt="Agileo Logo" width="268" height="101" /></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
				{% for link in site.data.navigation %}
					{% assign class = "nav-link" %}
					{% if link.highlight %}
						{% assign class = class | append: " highlight" %}
					{% endif %}

					{% if link.link == page.url %}
						{% assign class = class | append: " active" %}
					{% endif %}
					<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
				{% endfor %}
				</li>
			</ul>
		</div>
	</div>
</nav>
