$brand-color: #338cc0;
$secondary-brand-color: #338cc0;
$middle-gradient-color: linear-gradient(to right, black, blue 25%, blue 75%, black);

// Breakpoints
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
